@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

a{
    text-decoration: none;
    color: #ffff;
}

li{
    list-style: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #56593D;
}

.header{
    padding: 60px 0;
    border-top: #FFFFEF 16px solid;
}

.container{
    margin: auto;
    max-width: 1400px;
    padding: 0 40px;
}

.menu{
    display: flex;
}

.menu__body{
    padding: 0 20px;
    /* max-width: 470px; */
}

.menu__list{
    display: flex;
}

.menu__item{
    margin-right: 40px;
    /* margin-right: 3vw; */
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
}

.menu__item:hover{
    border-bottom: #56593D 2px solid;
}

.menu__link{
    color: #56593D;
    text-transform: uppercase;
}

.arrow{
    margin: 5px;
}

.menu__logo-container{
    position: absolute;
    left: 50%;
}

.menu__logo{
    width: 90px;
    height: 26px;
    /* margin-right: 40px; */
    /* margin-left: 110px; */
}

.menu__search{
    margin-left: auto;
    padding: 0 20px;
}

.menu__search-list{
    display: flex;
}

.menu__item_search{
    margin: 0 10px;
    position: relative;
}

.item_search__counter{
    font-size: 16px;
    color: #56593D;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    text-align: center;
    background: #FFFFEF;
    border-radius: 50%;
    position: absolute;
    right: -5px;
    bottom: -5px;
}

.hero{
    background: url(./source/Hero.png) 0 0/cover no-repeat;
    max-width: 1320px;
    height: 700px;
    border: #FFFFEF 16px solid;
}

.hero__content{
    margin: 465px 60px 60px;
    padding: 0 5px 5px 0;
    text-align: right;
}

.hero__title{
    font-size: 18px;
    margin-bottom: 15px;
}

.hero__text{
    font-size: 45px;
    margin-bottom: 25px;
}

.btn{
    background-color: #56593D;
    border: none;
    color: #ffff;
    text-transform: uppercase;
    transition: 150ms;
}

.btn:hover{
    background-color: #656848;
    cursor: pointer;
}

.hero__btn{
    width: 15.5rem;
    height: 5.5rem;
    padding: 20px 5px;
    font-size: 16px;
    display: inline-block;
}

.under-hero{
    padding: 110px 40px;
    justify-content: center;
}

.under-hero__text{
    font-size: 57px;
    text-align: center;
}

.under-hero__links-wrapper{
    display: flex;
    justify-content: center;
}

.under-hero__link-wrapper{
    border-bottom: #56593D solid 2px;
    margin: 40px;
    transition: 300ms;
}

.under-hero__link-wrapper:hover{
    border: none;
    font-size: 20px;
    margin: 30px 40px 30px 40px;
}

.under-hero__arrow{
    transition: 300ms;
}

.under-hero__link-wrapper:hover .under-hero__arrow{
    width: 18px;
    height: 14px;
}

.under-hero__link-wrapper:hover .under-hero__link{
    font-size: 20px;
}

.under-hero__link{
    font-size: 16px;
    color: #56593D;
    transition: 300ms;
}

.goods{
    background: #FFFFEF;
    padding: 80px 0;
}

.goods__title{
    text-align: center;
    font-size: 24px;
    line-height: 32.4px;
    font-weight: 400;
    padding-bottom: 85px;
}

.goods__wrapp{
    /* display: inline-flex; */
    display: flex;
    text-align: center;
    overflow: hidden;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
}

.goods-elem{
    padding: 15px;
    margin: auto;
    width: 33.3%;
    transition: 250ms;
    border-radius: 5px;
}

.goods-elem:hover{
    transform: scale(1.05);
}

.goods-elem__picture{
    /* width: 410px; */
    width: 100%;
    /* height: 410px; */
    object-fit: cover;
}

.goods-elem__title{
    font-weight: 400;
    padding: 15px 0 10px 0;
}

.goods-elem__price{
    font-weight: 400;
    color: #717353;
}

.essentials{
    background: url(./source/Essentials.png);
    max-width: 1320px;
    height: 700px;
    margin: 15px 0;
    border: #FFFFEF 16px solid;
}

.essentials__content{
    padding: 65px 120px;
    text-align: center;
}

.essentials__title{
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
}

.essentials__text{
    font-size: 50px;
    font-weight: 400;
}

.story {
    margin: 65px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #FFFFEF;
}
.story__image {
    width: 740px;
    height: 620px;
    display: block;
}
.story__content {
    text-align: center;
    max-width: 520px;
    padding: 65px 90px 0 90px;
}
.story__title {
    font-size: 29px;
    font-weight: 400;
}
.story__line {
    width: 40px;
    height: 1px;
    background-color: #717353;
    margin: 30px auto;
}
.story__text {
    font-size: 20px;
    font-family: 'Jost', sans-serif;
}

.reverse{
    flex-direction:row-reverse
}

.sign-up {
    text-align: center;
    padding: 65px;
    margin: 40px 0;
    background-color: #FFFFEF;
}
.sign-up__title {
    font-size: 28px;
    font-weight: 400;
}
.sign-up__text {
    font-size: 17px;
    font-weight: 400;
    margin: 20px;
}
.sign-up__form{
    margin-top: 40px;
}
.sign-up__input {
    width: 340px;
    font-size: 16px;
    border: none;
    border-bottom: #56593D solid 1px;
    background-color: #FFFFEF;
    outline: none;
}

.sign-up__input:focus{
    border-bottom: #333 1px solid;
}

.sign-up__button {
    width: 145px;
    height: 22px;
    margin: 10px;
}

.kinn {
    margin: 40px 0;
    /* text-align: center; */
}
.kinn__title {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 45px;
    margin-top: 60px;
    text-align: center;
}
.kinn__list {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 130px;
}


.kinn__item{
    width: 20%;
}

.kinn__image-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
}

.kinn__image{
    /* width: 320px ; */
    /* height: 320px; */
    position: absolute;
    width: 100%;
    height: 100%;   
    object-fit: cover;
    object-position: center;
    transition: 300ms ease-in;
}


.container_wider{
    margin: auto;
    max-width: 1400px;
}

.footer{
    background-color:#717353;
    color: #fff;
    padding: 65px 0;
    margin-top: 60px;
    gap: 30px;
    display: flex;
    flex-wrap: nowrap;
}
.footer__privacy {
    padding: 0 30px ;
    /* padding: 0 2%; */
}

.privacy{
    /* max-width: 34.8rem; */
    max-width: 24.85%;
}

.privacy__title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.privacy__additional{
    font-size: 15px;
    margin-left: 10px;
}
.footer__line {
    width: 40px;
    height: 1px;
    background-color: #fff;
    margin: 15px 0;
}
.privacy__text {
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
    line-height: 1.7;
}

.footer__explore {
    padding: 0 30px;
    /* padding: 0 2%; */
}
.explore{
    /* max-width: 25rem; */
    max-width: 17.85%;
}

.explore__title {
    font-size: 15px;
    font-weight: 300;
}
.explore__item {
    margin: 25px 0;
}
.explore__link {
    font-size: 16px;
    font-weight: 300;
    margin-right: 5px;
    text-transform: uppercase;
    letter-spacing: 0.158rem;
}

.help {
    /* max-width: 25rem; */
    max-width: 17.85%;
    padding: 0 30px;
    margin: 0 30px 5px 6.8%;
}
.help__title {
    font-size: 14px;
    font-weight: 300;
}
.help__item {
    margin: 25px 0;
}
.help__link{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.158rem;
}

.social {
    width: 120px;
    margin: 0 20px;
    margin-left: auto;
}
.social__icon{
    margin-right: 15px;
}

/* /////////////////////////////////////////// */
/*              Media Quearies                 */
/* /////////////////////////////////////////// */

@media (max-width:1024px) {
    .kinn__item{
        width: 45%;
    }
}


@media (max-width:768px) {
    .goods{
        margin: auto;
    }

    .goods__wrapp{
        flex-direction: column;
        /* justify-self: center; */
    }

    .goods-elem{
        width: 50%;
    }
    
    .kinn__item{
        width: 50%;
    }
}